In [17]:
import numpy as np
import random
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Création d'une matrice aléatoire sous forme de liste de listes
taille = 2
A = [[random.random() for _ in range(taille)] for _ in range(taille)]

In [3]:
"""
EXERCICE - Afficher un tuple contenant les dimensions de la matrice A
"""
dim = (len(A), len(A[0]))
print(dim)

(2, 2)

In [4]:
"""
EXERCICE - Implémenter le produit matriciel de 2 matrices sous forme de listes de listes python
"""
def produit(A, B):
    
    lignes = len(A)
    colonnes = len(B[0])
    C = [[0 for _ in range(colonnes)] for _ in range(lignes)]
    
    for i in range(lignes):
        for j in range(colonnes):
            for k in range(len(B)):
                C[i][j] += A[i][k] * B[k][j]
    return C

# Affichage
print("\nProduit A * A :")
C = produit(A, A)
for row in C:
    print(row)

Produit A * A :
[0.5955882991466873, 0.1350215496092369]
[0.22517861421320146, 0.5733978871062368]

In [5]:
!git clone https://github.com/MadaneA/TDs-statistiques-descriptives.git

fatal: destination path 'TDs-statistiques-descriptives' already exists and is not an empty directory.

In [6]:
import os
os.chdir('TDs-statistiques-descriptives')

In [7]:
 os.getcwd()

'c:\\Users\\Yazid\\Desktop\\TD Stat\\TD1\\TDs-statistiques-descriptives'

In [8]:
# Chargement d'un fichier CSV ou Excel
df = pd.read_csv("./data/Vol010.csv")
# Affichage des 5 premières lignes
df.head()

,t,EGT_SEL,FLIGHT_MOD,FMV_SEL,HPTC_SEL,LPTC_SEL,N1_SEL,N2_ACTSEL,OIL_P,OIL_TEMP,...,T25_SEL,T3_SEL,VBV_SEL,VIB_CN1,VIB_CN2,VIB_TN1,VIB_TN2,VSV_SEL,WFM_SEL,XM
0,datenum,deg_C,_,_,%,%,%,%_RPM,psi,_,...,_,_,DEG,_,_,_,_,DEG,lb/h,mach
1,15/09/2011 14:25:58.125,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,15/09/2011 14:25:58.375,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,15/09/2011 14:25:58.625,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15/09/2011 14:25:58.875,NaN,NaN,NaN,NaN,NaN,NaN,0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7679.98,0.15

In [9]:
"""
EXERCICE - Dimensions d'un DataFrame
Affichez le nombre de colonnes et de ligne du DataFrame (indice : beaucoup de méthodes sont communes entre numpy et pandas)
"""

#Afficher le nombre de lignes et de colonnes
n_lignes, n_colonnes = df.shape
print(f"Nombre de lignes : {n_lignes}")
print(f"Nombre de colonnes : {n_colonnes}")

Nombre de lignes : 22945
Nombre de colonnes : 26

In [10]:
"""
EXERCICE - Extraction et suppression des unités
On remarque que la 1ère ligne ne contient pas de données mais les unités de chaque colonne.
Pour la suite des traitements, il faut supprimer cette ligne. On souhaite toutefois garder l'information des unités de chaque colonne.
1. Récupérez les unités et stockez les dans une structure adaptée.
2. Supprimez cette ligne du DataFrame en utilisant la méthode "drop"
"""

#Récupérer la première ligne (les unités)
unites = df.iloc[0]
print("Unités des colonnes :")
print(unites)

#Supprimer la première ligne du DataFrame
df = df.drop(index=0).reset_index(drop=True)

Unités des colonnes :
t             datenum
EGT_SEL         deg_C
FLIGHT_MOD          _
FMV_SEL             _
HPTC_SEL            %
LPTC_SEL            %
N1_SEL              %
N2_ACTSEL       %_RPM
OIL_P             psi
OIL_TEMP            _
PS3_SEL           psi
PT2_SEL            mb
P0_SEL            psi
TAT             deg_C
TBV_SEL             %
TRA_SEL           DEG
T25_SEL             _
T3_SEL              _
VBV_SEL           DEG
VIB_CN1             _
VIB_CN2             _
VIB_TN1             _
VIB_TN2             _
VSV_SEL           DEG
WFM_SEL          lb/h
XM               mach
Name: 0, dtype: object

In [11]:
"""
Exercice - Index temporel
Comme nos données sont une série temporelle multivariée, on souhaite utiliser un index temporel.
1. Créez une copie de df, appelée df2, à l'aide de la méthode du même nom.
2. Affectez la colonne du temps ('t') en tant qu'indice du DataFrame.
3. Supprimez la colonne 't' du DF résultant.
"""

#Créer une copie
df2 = df.copy()

#Affecter la colonne 't' comme index
df2 = df2.set_index('t')

#Vérifier que la colonne 't' est bien supprimée
print(df2.head())

                        EGT_SEL FLIGHT_MOD FMV_SEL HPTC_SEL LPTC_SEL N1_SEL  \
t
15/09/2011 14:25:58.125     NaN        NaN     NaN      NaN      NaN    NaN
15/09/2011 14:25:58.375     NaN        NaN     NaN      NaN      NaN    NaN
15/09/2011 14:25:58.625     NaN        NaN     NaN      NaN      NaN    NaN
15/09/2011 14:25:58.875     NaN        NaN     NaN      NaN      NaN    NaN
15/09/2011 14:25:59.125     NaN        NaN     NaN      NaN      NaN      0

                        N2_ACTSEL    OIL_P OIL_TEMP  PS3_SEL  ... T25_SEL  \
t                                                             ...
15/09/2011 14:25:58.125         0      NaN      NaN      NaN  ...     NaN
15/09/2011 14:25:58.375         0      NaN      NaN      NaN  ...     NaN
15/09/2011 14:25:58.625         0      NaN      NaN      NaN  ...     NaN
15/09/2011 14:25:58.875         0      NaN      NaN      NaN  ...     NaN
15/09/2011 14:25:59.125         0  647.998      NaN  575.982  ...     NaN

                        T3_SEL VBV_SEL VIB_CN1 VIB_CN2 VIB_TN1 VIB_TN2  \
t
15/09/2011 14:25:58.125    NaN     NaN     NaN     NaN     NaN     NaN
15/09/2011 14:25:58.375    NaN     NaN     NaN     NaN     NaN     NaN
15/09/2011 14:25:58.625    NaN     NaN     NaN     NaN     NaN     NaN
15/09/2011 14:25:58.875    NaN     NaN     NaN     NaN     NaN     NaN
15/09/2011 14:25:59.125    NaN       0       0       0       0       0

                        VSV_SEL  WFM_SEL    XM
t
15/09/2011 14:25:58.125     NaN      NaN   NaN
15/09/2011 14:25:58.375     NaN      NaN   NaN
15/09/2011 14:25:58.625     NaN      NaN   NaN
15/09/2011 14:25:58.875     NaN  7679.98  0.15
15/09/2011 14:25:59.125       0  4607.86  0.15

[5 rows x 25 columns]

In [12]:
"""
EXERCICE - La méthode isna
1. Testez la méthode isna sur le DataFrame df2, puis sur une colonne ou une ligne. Que renvoie-t-elle ?
2. En appliquant les méthodes any(axis=...), mean() et max()/idxmax() sur les résultats de isna(), répondez aux questions suivantes :
    2.1 Quelles colonnes contiennent des valeurs manquantes, lesquelles n'en contiennent pas ?
    2.2 Quel est le pourcentage de valeurs manquantes dans le DF (a) par colonne (b) globalement ? Quelle variable contient le plus de NaN ?
    2.3 Quel est le pourcentage d'indices du DF pour lesquels toutes les variables sont présentes ?
"""

#Tester isna()
print(df2.isna())              
print(df2['colonne1'].isna())  
print(df2.loc[0].isna())      

#2️.1 Colonnes contenant des NaN
print('Question 2.1')
colonnes_nan = df2.isna().any()
print(colonnes_nan)

#2️.2 Pourcentage de valeurs manquantes
print('Question 2.2')

#(a) par colonne
pourcentage_col = df2.isna().mean() * 100
print("Pourcentage de NaN par colonne :")
print(pourcentage_col)

#(b) globalement
pourcentage_global = df2.isna().mean().mean() * 100
print(f"Pourcentage global de NaN : {pourcentage_global:.2f}%")

#Variable avec le plus de NaN
col_plus_nan = pourcentage_col.idxmax()
print(f"Variable avec le plus de NaN : {col_plus_nan}")

#2️.3 Pourcentage d’indices avec toutes les variables présentes
print('Question 2.3')
pourcentage_complet = (1 - df2.isna().any(axis=1).mean()) * 100
print(f"Pourcentage de lignes complètes : {pourcentage_complet:.2f}%")

                         EGT_SEL  FLIGHT_MOD  FMV_SEL  HPTC_SEL  LPTC_SEL  \
t
15/09/2011 14:25:58.125     True        True     True      True      True
15/09/2011 14:25:58.375     True        True     True      True      True
15/09/2011 14:25:58.625     True        True     True      True      True
15/09/2011 14:25:58.875     True        True     True      True      True
15/09/2011 14:25:59.125     True        True     True      True      True
...                          ...         ...      ...       ...       ...
15/09/2011 16:01:32.875     True        True     True      True      True
15/09/2011 16:01:33.125     True        True     True      True      True
15/09/2011 16:01:33.375     True        True     True      True      True
15/09/2011 16:01:33.625     True        True     True      True      True
15/09/2011 16:01:33.875     True        True     True      True      True

                         N1_SEL  N2_ACTSEL  OIL_P  OIL_TEMP  PS3_SEL  ...  \
t                                                                     ...
15/09/2011 14:25:58.125    True      False   True      True     True  ...
15/09/2011 14:25:58.375    True      False   True      True     True  ...
15/09/2011 14:25:58.625    True      False   True      True     True  ...
15/09/2011 14:25:58.875    True      False   True      True     True  ...
15/09/2011 14:25:59.125   False      False  False      True    False  ...
...                         ...        ...    ...       ...      ...  ...
15/09/2011 16:01:32.875    True       True   True      True     True  ...
15/09/2011 16:01:33.125    True       True   True      True     True  ...
15/09/2011 16:01:33.375    True       True   True      True     True  ...
15/09/2011 16:01:33.625    True       True   True      True     True  ...
15/09/2011 16:01:33.875    True       True   True      True     True  ...

                         T25_SEL  T3_SEL  VBV_SEL  VIB_CN1  VIB_CN2  VIB_TN1  \
t
15/09/2011 14:25:58.125     True    True     True     True     True     True
15/09/2011 14:25:58.375     True    True     True     True     True     True
15/09/2011 14:25:58.625     True    True     True     True     True     True
15/09/2011 14:25:58.875     True    True     True     True     True     True
15/09/2011 14:25:59.125     True    True    False    False    False    False
...                          ...     ...      ...      ...      ...      ...
15/09/2011 16:01:32.875     True    True     True     True     True     True
15/09/2011 16:01:33.125     True    True     True     True     True     True
15/09/2011 16:01:33.375     True    True     True     True     True     True
15/09/2011 16:01:33.625     True    True     True     True     True     True
15/09/2011 16:01:33.875     True    True     True     True     True     True

                         VIB_TN2  VSV_SEL  WFM_SEL     XM
t
15/09/2011 14:25:58.125     True     True     True   True
15/09/2011 14:25:58.375     True     True     True   True
15/09/2011 14:25:58.625     True     True     True   True
15/09/2011 14:25:58.875     True     True    False  False
15/09/2011 14:25:59.125    False    False    False  False
...                          ...      ...      ...    ...
15/09/2011 16:01:32.875     True     True     True   True
15/09/2011 16:01:33.125     True     True     True   True
15/09/2011 16:01:33.375     True     True     True   True
15/09/2011 16:01:33.625     True     True     True   True
15/09/2011 16:01:33.875     True     True     True   True

[22944 rows x 25 columns]

KeyError: 'colonne1'

In [ ]:
"""
EXERCICE - La méthode dropna
La méthode dropna permet d'éliminer les valeurs manquantes (NaN). Lisez d'abord sa documentation.
1. À quoi correspondent les arguments "axis" et "how" ?
2. Éliminez toutes les lignes contenant uniquement des valeurs manquantes.
3. Éliminez toutes les lignes contenant au moins une valeur manquante. Combien y a-t-il de lignes de différence ?
4. Éliminez toutes les colonnes contenant au moins une valeur manquante.

axis = 1 : Lignes / axis = 0 : Colonnes
 
how = "all" : supprime si toutes les valeurs sont Nan
how = "any" : supprime si au moins une valeur est NaN

In [ ]:
#Supprimer les lignes contenant uniquement des NaN
df_all = df2.dropna(axis=0, how='all')

#Supprimer les lignes contenant au moins une valeur manquante
df_any = df2.dropna(axis=0, how='any')

diff = len(df_all) - len(df_any)
print(f"Différence de nombre de lignes : {diff}")

#Supprimer les colonnes contenant au moins une valeur manquante
df_cols = df2.dropna(axis=1, how='any')

Différence de nombre de lignes : 64

In [13]:
exemple = pd.DataFrame({
    'nom': ['Alice', 'Bob', 'Charlie', 'David'],
    'age': [24, np.nan, 99, 24]
})

print("Avant remplissage :")
print(exemple)

print("\nRemplissage avec 0 :")
print(exemple['age'].fillna(0))

print("\nRemplissage avec la dernière valeur précédente :")
print(exemple['age'].fillna(method='ffill'))

print("\nRemplissage avec la moyenne :")
print(exemple['age'].fillna(exemple['age'].mean()))

print("\nRemplissage avec la valeur la plus fréquente :")
mode_val = exemple['age'].mode()[0]
print(exemple['age'].fillna(mode_val))

Avant remplissage :
       nom   age
0    Alice  24.0
1      Bob   NaN
2  Charlie  99.0
3    David  24.0

Remplissage avec 0 :
0    24.0
1     0.0
2    99.0
3    24.0
Name: age, dtype: float64

Remplissage avec la dernière valeur précédente :
0    24.0
1    24.0
2    99.0
3    24.0
Name: age, dtype: float64

Remplissage avec la moyenne :
0    24.0
1    49.0
2    99.0
3    24.0
Name: age, dtype: float64

Remplissage avec la valeur la plus fréquente :
0    24.0
1    24.0
2    99.0
3    24.0
Name: age, dtype: float64

C:\Users\Yazid\AppData\Local\Temp\ipykernel_8524\38314854.py:13: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  print(exemple['age'].fillna(method='ffill'))